.imgholder {
	width:100%;
	position: relative;
}

#image1 {
	@include background(url("/assets/img/coffee.jpg"), center no-repeat);
}

#image2 {
	@include background(url("/assets/img/outdoor.jpg"), center no-repeat);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#image3 {
	@include background(url("/assets/img/indoor.jpg"), center no-repeat);
}

.slider {
	height:125px;
	width:250px;
	position:absolute;
	left: calc(50% - 125px);
	background: rgba(218, 218, 218, 0.21);
}

.arrow-down {
	border-radius: 250px 250px 0 0;
	-moz-border-radius: 250px 250px 0 0;
	-webkit-border-radius: 250px 250px 0 0;
	bottom: 0px;
}

.arrow-up {
	border-radius: 0 0 250px 250px;
	-moz-border-radius: 0 0 250px 250px;
	-webkit-border-radius: 0 0 250px 250px;
	top:0px;
}
